<h1>Welcome Fellow Pokemon Trainer!</h1>

<ul>
    <% if @logged_in_trainer.total_pokemons > 0 %>

        <% @pokeballs.each do |pokeball| %>
            <li>Here are your pokemon.</li><br>
            <li>
                <img src=<%= pokeball.pokemon.sprite %>>
                <% if @logged_in_trainer.id == pokeball.trainer_id %>
                <%= button_to "Release Pokemon", pokeball_path(pokeball), method: :delete %>
                <% end %>
            </li>
        <% end %>
    <% else %>
        <li>You need to go get a starter pokemon from Prof. Oak!</li><br>
        <li><%= button_to "Get My Starter Pokemon", new_pokeball_path, method: :get %></li>
    <% end %>
</ul>
