 <img src= "../gymleader_images/kantogymleaders.jpg" alt="Picture goes here">







<div>
<ul>
<% @gymleaders.each do |gymleader| %>
 <li><%= link_to gymleader.name, gymleader_path(gymleader)%><br>
<% end %></li>
</ul>
</div>

