<style>
body {
    background-image: url('/gymleader_index/kantogymleaders.jpg');
    background-size: cover;
  }
</style>
<ul>
    <% @gymleaders.each do |gymleader| %>
        <li><img src= <%=gymleader.headshot%>><br>
        <%= button_to gymleader.name, gymleader_path(gymleader), method: "get"%>
        </li>
    <% end %>
</ul>
